asgiref==3.11.1
certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==49.0.0
dj-database-url==3.1.2
Django==6.0.6
djangorestframework==3.17.1
gunicorn==26.0.0
idna==3.18
packaging==26.2
pdfminer.six==20260107
pdfplumber==0.11.10
pillow==12.2.0
pycparser==3.0
pypdfium2==5.11.0
python-dotenv==1.2.2
requests==2.34.2
sqlparse==0.5.5
urllib3==2.7.0
whitenoise==6.12.0
